<div class="widgets">

    <div class="row">
        <div class="col-md-6"
             ba-panel
             ba-panel-class="with-scroll">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="first_name">First Name</label>
                        <input type="text" ng-model="author.first_name" class="form-control" id="inputFirstName" placeholder="First Name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="last_name">Last Name</label>
                        <input type="text" ng-model="author.last_name" class="form-control" id="inputLastName" placeholder="Last Name">
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="text" ng-model="author.email" class="form-control" id="email" placeholder="E-mail">
                    </div>
                     <div class="form-group">
                        <label for="phone_number">Phone Number</label>
                        <input type="text" ng-model="author.phone_number" class="form-control" id="phone_number" placeholder="Phone Number">
                    </div>
                </div>

            </div>
            <a class="btn btn-default" href="#/author">Cancel</a>
            <button type="submit"  ng-click="save(author)" class="btn btn-primary pull-right">Submit</button>
        </div>
    </div>
</div>