<div class="widgets">
<div class="add-row-editable-table">
  <a class="btn btn-primary" href="#/book/add">
      <span class="ion-plus"></span>
      Add Book
  </a>
</div>
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-class="with-scroll">

                <div class="horizontal-scroll">
                    <div class="form-group select-page-size-wrap ">
                        <label>Rows on page
                            <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                                    ng-model="authorsPageSize" ng-options="i for i in [5,10,15,20,25]">
                            </select>
                        </label>
                    </div>
                    <table class="table" st-table="safeBooks" st-safe-src="books">
                        <thead>
                        <tr class="sortable ">
                            <th class="table-id" st-sort="id" st-sort-default="true">#</th>
                            <th st-sort="name">Name</th>
                            <th st-sort="publication_year">Publication Year</th>
                            <th st-sort="number_of_pages">Number of Pages</th>
                            <th st-sort="isbn">ISBN</th>
                            <th st-sort="categories">Categories</th>
                            <th st-sort="publishing_house">Publishing House</th>
                            <th st-sort="authors">Authors</th>
                            <th>Actions</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th><input st-search="name" placeholder="Search Name"
                                       class="input-sm form-control search-input"
                                       type="search"/></th>
                            <th><input st-search="publication_year" placeholder="Search Publication Year"
                                       class="input-sm form-control search-input"
                                       type="search"/></th>
                            <th><input st-search="number_of_pages" placeholder="Search Number of Pages"
                                       class="input-sm form-control search-input"
                                       type="search"/></th>
                            <th><input st-search="isbn" placeholder="Search ISBN"
                                       class="input-sm form-control search-input"
                                       type="search"/></th>
                            <th><input st-search="categories.name" placeholder="Search Categories"
                                       class="input-sm form-control search-input"
                                       type="search"/></th>
                            <th><input st-search="publishing_house.name" placeholder="Search Publishing House"
                                       class="input-sm form-control search-input"
                                       type="search"/></th>
                            <th><input st-search="authors.first_name" placeholder="Search Authors"
                                       class="input-sm form-control search-input"
                                       type="search"/></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="book in safeBooks">
                            <td class="table-id">
                                {{books.indexOf(book) + 1}}
                            </td>
                            <td>{{ book.name }}</td>
                            <td>{{ book.publication_year }}</td>
                            <td>{{ book.number_of_pages }}</td>
                            <td>{{ book.isbn }}</td>
                            <td><span ng-repeat="category in book.categories">{{category.name}}{{$last ? '' : ', '}}</span></td>
                            <td>{{ book.publishing_house.name }}</td>
                            <td><span ng-repeat="author in book.authors">{{ author.first_name + ' ' + author.last_name }}{{$last ? '' : ', '}}</span></td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a class="btn btn-sm btn-warning btn-primary" href="#/book/edit/{{ book.id }}">
                                        <span class="ion-edit"></span></a><button ng-click="removeBook(book)" class="btn btn-sm btn-danger btn-primary">
                                        <span class="ion-trash-b"></span></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="6" class="text-center">
                                <div st-pagination="" st-items-by-page="authorsPageSize" st-displayed-pages="5"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>




