<div class="widgets">
<div class="add-row-editable-table">
  <a class="btn btn-primary" href="#/member/add">
      <span class="ion-plus"></span>
      Add Member
  </a>
</div>
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-class="with-scroll">

                <div class="horizontal-scroll">
                    <div class="form-group select-page-size-wrap ">
                        <label>Rows on page
                            <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                                    ng-model="authorsPageSize" ng-options="i for i in [5,10,15,20,25]">
                            </select>
                        </label>
                    </div>
                    <table class="table" st-table="safeMembers" st-safe-src="members">
                        <thead>
                        <tr class="sortable ">
                            <th class="table-id" st-sort="id" st-sort-default="true">#</th>
                            <th st-sort="first_name">First Name</th>
                            <th st-sort="last_name">Last Name</th>
                            <th st-sort="mail">E-mail</th>
                            <th st-sort="phone_number">Phone Number</th>
                            <th st-sort="gender">Gender</th>
                            <th st-sort="address">Address</th>
                            <th st-sort="city">City</th>
                            <th st-sort="state">State</th>
                            <th st-sort="country">Country</th>
                            <th st-sort="zip_code">Zip Code</th>
                            <th>Actions</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th><input st-search="first_name" placeholder="Search First Name"
                                       class="input-sm form-control search-input"
                                       type="search"/></th>
                             <th><input st-search="last_name" placeholder="Search Last Name"
                                       class="input-sm form-control search-input"
                                       type="search"/></th>
                             <th><input st-search="mail" placeholder="Search Mail"
                                       class="input-sm form-control search-input"
                                       type="search"/></th>
                             <th><input st-search="phone_number" placeholder="Search Phone Number"
                                       class="input-sm form-control search-input"
                                       type="search"/></th>
                             <th><input st-search="gender" placeholder="Search Gender"
                                       class="input-sm form-control search-input"
                                       type="search"/></th>
                             <th><input st-search="address" placeholder="Search Address"
                                       class="input-sm form-control search-input"
                                       type="search"/></th>
                             <th><input st-search="city" placeholder="Search City"
                                       class="input-sm form-control search-input"
                                       type="search"/></th>
                             <th><input st-search="state" placeholder="Search State"
                                       class="input-sm form-control search-input"
                                       type="search"/></th>
                             <th><input st-search="country" placeholder="Search country"
                                       class="input-sm form-control search-input"
                                       type="search"/></th>
                             <th><input st-search="zip_code" placeholder="Search Zip Code"
                                       class="input-sm form-control search-input"
                                       type="search"/></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="member in safeMembers">
                            <td class="table-id">
                                {{members.indexOf(member) + 1}}
                            </td>
                            <td>{{ member.first_name }}</td>
                            <td>{{ member.last_name }}</td>
                            <td>{{ member.mail }}</td>
                            <td>{{ member.phone_number }}</td>
                            <td>{{ member.gender }}</td>
                            <td>{{ member.address }}</td>
                            <td>{{ member.city }}</td>
                            <td>{{ member.state }}</td>
                            <td>{{ member.country }}
                            <td>{{ member.zip_code }}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a class="btn btn-sm btn-warning btn-primary" href="#/member/edit/{{ member.id }}">
                                        <span class="ion-edit"></span></a><button ng-click="removeMember(member)" class="btn btn-sm btn-danger btn-primary">
                                        <span class="ion-trash-b"></span></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="6" class="text-center">
                                <div st-pagination="" st-items-by-page="authorsPageSize" st-displayed-pages="5"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>




